NEXT_PUBLIC_APP_NAME=egghead
NEXT_PUBLIC_APP_URL=http://localhost:3008
COURSEBUILDER_URL=http://localhost:3008/api/coursebuilder
DATABASE_URL=mysql://root:root@127.0.0.1:3307/coursebuilder_test
EGGHEAD_RUNTIME=local
EGGHEAD_BETA_DB_APPROVED=false
AUTH_SECRET=local-dev-only-change-me
